
<h1><%= @artist.name %></h1>
<hr>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %> |
<%= link_to 'Delete Artist', artist_path, method: :delete %>
<hr>
<h3>Songs</h3>
<%= link_to 'Add song', new_artist_song_path(@artist.id) %>

<% @artist.songs.each do |song| %>
  <p>
    <%= song.name %> |
    <%= link_to 'Edit Song', edit_artist_song_path(song.artist_id, song.id) %> | 
    <%= link_to 'Delete Song', artist_song_path(song.artist_id, song.id), method: :delete %>
  </p>
<% end %>