<h1><%= @billboard.name %></h1>
<hr>
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard.id) %> |
<%= link_to 'Delete Billboard', billboard_path(@billboard.id), method: :delete %>
<hr>

<table class="ui striped table">
  <thead>
    <tr>
      <th>#</th>
      <th>Song</th>
      <th>Artist</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
  <% num = 1 %>
  <% @billboard.songs.each do |song| %>
    <tr>
      <td><%= num %></td>
      <td><%= song.name %></td>
      <td><%= song.artist.name %></td>
      <td><%= link_to 'View Song Artist', artist_path(song.artist_id) %></td>
    </tr>
    <% num += 1 %>
  <% end %>
  </tbody>
</table>
