
<h1><%= @billboard.name %></h1>
<hr>
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard.id) %> |
<%= link_to 'Delete Billboard', billboard_path(@billboard.id), method: :delete %>
<hr>

<table class="ui striped table">
  <thead>
    <tr>
      <th>#</th>
      <th>Likes</th>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
  <% num = 1 %>
  <% @billboard.songs.order(likes: :desc).each do |song| %>
    <tr>
      <td><%= num %></td>
      <td>
        <%= link_to like_path @billboard, song do %>
          <i class= "heart icon"></i> <%= song.likes %>
        <% end %>
      </td>
      <td>
        <%= link_to artist_path(song.artist_id) do %>
          <%= song.name %>
        <% end %>
      </td>
      <td>
        <%= link_to artist_path(song.artist_id) do %>
          <%= song.artist.name %>
        <% end %>
      </td>
    </tr>
    <% num += 1 %>
  </div>
  <% end %>
  </tbody>
</table>
